In [1]:
import pandas as pd
import sqlite3  # for SQLite
import os

# Create output folder if not exists
os.makedirs("loaded_data", exist_ok=True)

# Load CSVs
df_full = pd.read_csv("transformed_full.csv")
df_inc = pd.read_csv("transformed_incremental.csv")

# loading full transformed data to SQLite

In [2]:
conn_full = sqlite3.connect("loaded_data/full_data.db")

# Load into SQLite table
df_full.to_sql("full_data", conn_full, if_exists="replace", index=False)

# Close connection
conn_full.close()

# loading transformed incremental to SQLite

In [4]:
conn_inc = sqlite3.connect("loaded_data/incremental_data.db")

df_inc.to_sql("incremental_data", conn_inc, if_exists="replace", index=False)

conn_inc.close()

# verification

In [5]:
conn_full = sqlite3.connect("loaded_data/full_data.db")
df_check = pd.read_sql("SELECT * FROM full_data LIMIT 5", conn_full)
conn_full.close()

df_check.head()

,user_id,event,timestamp,event_code
0,4b80a6e4-a82c-49cc-bfd3-af69f8270e51,purchase,2025-06-01 03:44:32,3
1,01471aa3-3051-457f-af79-aa9dccd9f649,logout,2025-06-01 15:28:13,2
2,273787e1-d6fa-490a-8036-d8577d14604a,purchase,2025-06-01 12:47:33,3
3,f2bfffa1-1d1e-4149-ad6b-5a402dc0b66a,login,2025-06-01 23:10:08,1
4,8c33b2fb-e82b-401f-af78-cf899c81b57a,login,2025-06-07 05:29:49,1

In [6]:
conn_inc = sqlite3.connect("loaded_data/incremental_data.db")
df_check = pd.read_sql("SELECT * FROM incremental_data LIMIT 5", conn_inc)
conn_inc.close()

df_check.head()

Empty DataFrame
Columns: [user_id, event, timestamp, event_code]
Index: []